{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {"esmodules": true},
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-async-to-generator", {
      "module": "bluebird",
      "method": "coroutine"
    }]
  ]
}