.live-skin-coloration-area {
  position: relative;
}

.btools-get-pic-live-room {
  position: absolute;
  top: -3px;
  right: 190px;
  width: 18px;
  height: 18px;

  cursor: pointer;

  i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  span {
    position: absolute;
    top: 3px;
    left: 20px;
    width: 35px;
    height: 18px;

    color: #00a1d6;
  }
}

#viewbox_report {
  position: relative;
}

.btools-get-pic-video {
  position: absolute;
  top: 10px;
  left: -40px;
  width: 30px;
  height: 30px;

  cursor: pointer;
}
