$defaultColor: #029bcd;

.Btools-hot-key-menu {

  position: absolute;
  top: 0;
  left: 0;

  width: 180px;
  height: 100px;

  border-radius: 10px;

  overflow: hidden;
  z-index: 9999999;
  display: none;
  user-select: none;

  .title {

    position: absolute;
    top: 10px;
    left: 0;
    
    font-size: 18px;
    width: 100%;
    height: 30px;

    text-align: center;

    color: #FFF;

    z-index: 100;
    
  }

  /* 选项 ul */
  .options {

    position: absolute;
    top: 40px;
    left: 0;

    width: 100%;

    box-sizing: border-box;

    z-index: 100;
    
    li {

      position: relative;
      margin: 5px 0;
      width: 100%;
      list-style-type: none;

      height: 30px;

      /* 选项快捷键 */
      span {
        position: absolute;
        top: 0;
        left: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;

        text-align: center;
        font-size: 20px;
        font-weight: 700;

        border-radius: 5px;
        color: #666;
        background-color: #FFF;
      }

      /* 选项标题 */
      p {
        position: absolute;
        top: 0;
        left: 45px;
        width: 60px;
        height: 30px;
        line-height: 30px;

        font-size: 20px;

        color: #FFF;
      }

    }

  }

  .background {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-color: #000;

    z-index: 10;

  }

}

.btools-hkm-option-selected {
  span {
    color: #FFF !important;
    background-color: #F66 !important;
  }
}