$defaultColor: #029bcd;

.Btools-hot-key-menu {

  position: absolute;
  top: 0;
  left: 0;

  width: 100px;
  height: 100px;

  z-index: 9999999;
  display: none;

  .title {
    
    font-size: 18px;
    width: 100%;
    height: 30px;

    z-index: 100;
    
  }

  .options {
    
    li { list-style-type: none }
    
    z-index: 100;

  }

  .background {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-color: #000;

    z-index: 10;

  }

}